body {
    margin: 0;
    font-family: "Rockwell", serif;
}

.header_text {
    background-color: rgba(0,0,0, 30%);
    font-size: 5em;
    color: #E1D7D1;
    text-align: center;
    flex: 1;
    backdrop-filter: blur(10px);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.header {
    background-image: url("resources/homepage_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41em;
}

/*todo: fix white strip under navbar*/
.navbar {
    background-color: #051B23;
    display: flex;
    justify-content: center;
    gap: 1em;
}

/*taking all elements from navbar; kind of selector - combinator*/
.navbar > * {
    color: #E1D7D1;
    /*how to ged rid of underline from anchor*/
    text-decoration: none;
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}

/*styling hover action of all elements inside of navbar*/
.navbar > *:hover  {
    color: white;
}

.booking_button {
    color: #E1D7D1;
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    font-family: "Rockwell", serif;
    font-size: 0.5em;
    text-align: center;
    position: center;
}

.booking_button:hover {
    color: white
}

