@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", serif;
    color: #E1D7D1;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background-image: url("resources/homepage_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 41rem;
    flex-direction: column;
}

.header_text {
    font-size: 5rem;
    /*color: #E1D7D1;*/
    text-align: center;
}

.header_text_container{
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar {
    background-color: #051B23;
    display: flex;
    justify-content: center;
    border-top: #E1D7D1 solid 3px;
    gap: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/*taking all elements from navbar; kind of selector - combinator*/
.navbar > * {
    color: #E1D7D1;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*styling hover action of all elements inside of navbar*/
.navbar > *:hover  {
    color: white;
}

.booking_button {
    color: #E1D7D1;
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    text-align: center;
    position: center;
    align-self: center;
    border: #E1D7D1 solid 3px;
    padding: 0.25rem 0.5rem;
    /*padding-top: 0.25rem;*/
    /*padding-bottom: 0.25rem;*/
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
    margin-top: 1rem;
}

.booking_button:hover {
    border: white solid 3px;
}

.navbar_padding{
    height: calc(3.5rem + 7px);
}

.pricing_content_container{
    background-color: #051B23;
    padding-right: 5%;
    padding-left: 5%;
}

.pricing_header{
    background-color: #051B23;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pricing_header_text{
    font-size: 1.5rem;
    text-align: center;

}

.pricing_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #051B23;

}

.pricing_grid-item{
    color: #E1D7D1;
    border: 1px solid #E1D7D1;
    font-size: 1.25rem;
    text-align: center;
}

.contact_content_container{
    background-color: #051B23;
    padding-right: 5%;
    padding-left: 5%;
}

.contact_header{
    background-color: #051B23;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact_header_text{
    font-size: 1.5rem;
    text-align: center;
}




