@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Montserrat", serif;
    color: #E1D7D1;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header{
    background-image: url("resources/homepage_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 41rem;
    flex-direction: column;
}

.header_text{
    font-size: 5rem;
    text-align: center;
}

.header_text_container{
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar{
    background-color: #051B23;
    display: flex;
    justify-content: center;
    border-top: #E1D7D1 solid 3px;
    gap: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

/*taking all elements from navbar; kind of selector - combinator*/
.navbar > *{
    color: #E1D7D1;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*styling hover action of all elements inside of navbar*/
.navbar > *:hover {
    color: white;
}

.booking_button{
    color: #E1D7D1;
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    text-align: center;
    position: center;
    align-self: center;
    border: #E1D7D1 solid 3px;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.booking_button:hover{
    border: white solid 3px;
}

.pricing_content_container{
    background-color: #051B23;
    padding-right: 5%;
    padding-left: 5%;
}

.contact_content_container{
    background-color: #051B23;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_header{
    background-color: #051B23;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section_header_text{
    font-size: 1.5rem;
    text-align: center;
}

.map{
    border: 0;
    width: 40vw;
    aspect-ratio: 3 / 2;
    allowfullscreen: "";
    loading: "lazy";
    referrerpolicy: "no-referrer-when-downgrade"
}

.contact_details_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.pricing_tab{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pricing_tab_button{
    background-color: #051B23;
    color: #E1D7D1;
    border-color: #E1D7D1;
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
}

.pricing_tab_button:hover{
    color: white;
    border-color: white;
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
}

.pricing_tab_button:active{
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    color: white;
    border-color: white;
}

.active{
    background-color: rgba(0,0,0, 30%);
    backdrop-filter: blur(10px);
    color: white;
    border-color: white;
}

.tab_text{
    color: #E1D7D1;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}

.pricing_grid_container{
    display: grid;
    border: none;
    grid-template-columns: 50% 50%;
    background-color: #051B23;
}

.pricing_grid_item{
    display: flex;
    justify-content: center;
    color: #E1D7D1;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.booking_form_container{
    background-color: #051B23;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




